<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update sensor</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<div th:with="isAdmin=${#authorization.expression('hasAuthority(''ADMINISTRATOR'')')}">
    <form th:action="@{/sensors/{sensorId}/update(sensorId=${sensor.id})}" method="post" th:object="${sensor}">
        <div>
            <label for="name">Name:</label>
            <input id="name" type="text" name="name" th:value="*{name}" th:disabled="${!isAdmin}" required>
        </div>
        <div>
            <label for="model">Model:</label>
            <input id="model" type="text" name="model" th:value="*{model}" th:disabled="${!isAdmin}" required>
        </div>
        <div>
            <label for="fromValue">From:</label>
            <input id="fromValue" type="number" min="0" name="fromValue" th:value="*{range.from}"
                   th:disabled="${!isAdmin}" required>
        </div>
        <div>
            <label for="toValue">To:</label>
            <input id="toValue" type="number" min="0" name="toValue" th:value="*{range.to}" th:disabled="${!isAdmin}"
                   required>
        </div>
        <div>
            <label for="type">Type:</label>
            <select id="type" name="typeId" th:disabled="${!isAdmin}">
                <option th:each="type : ${types}"
                        th:value="${type.getId()}"
                        th:selected="${type.getId() == sensor.type.getId()}"
                        th:text="${type.getValue()}">Type
                </option>
            </select>
        </div>
        <div>
            <label for="unit">Unit:</label>
            <select id="unit" name="unitId" th:disabled="${!isAdmin}">
                <option value=""></option>
                <option th:each="unit : ${units}"
                        th:value="${unit.getId()}"
                        th:selected="${unit.getId() == sensor.unit?.getId()}"
                        th:text="${unit.getValue()}">Unit
                </option>
            </select>
        </div>
        <div>
            <label for="location">Location:</label>
            <input id="location" type="text" name="location" th:value="*{location}" th:disabled="${!isAdmin}">
        </div>
        <div>
            <label for="description">Description:</label>
            <input id="description" type="text" name="description" th:value="*{description}" th:disabled="${!isAdmin}">
        </div>
        <button th:if="${isAdmin}" type="submit">Update</button>
    </form>
    <a th:href="'/sensors'">Show All</a>
    <div th:if="${errors}">
        <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error</p>
    </div>
</div>
</body>
</html>