<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        form {
            text-align: center;
        }
    </style>
</head>
<body>
<form th:action="@{/login}" method="post">
    <div style="color: red" th:if="${param.error}">
        Неверный логин и/или пароль
    </div>
    <div>
        <label for="username">Username:</label>
        <input id="username" type="text" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password">
    </div>
    <button type="submit">Login</button>
</form>
</body>
</html>