<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        form {
            text-align: center;
        }
    </style>
</head>
<body>
<form method="post">
    <div style="color: red" th:if="${param.error}">
        Неверный логин и/или пароль
    </div>
    <div>
        <label for="username">Username:</label>
        <input id="username" type="text" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password">
    </div>
    <button type="submit">Login</button>
</form>
</body>
<script>
    document.getElementsByTagName('form')[0].addEventListener('submit', async function (event) {
        event.preventDefault();

        try {
            const formData = new FormData(this);
            const body = Object.fromEntries(formData.entries());

            const response = await fetch('/api/v1/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(body)
            });

            if (response.ok) {
                window.location.href = "/sensors";
            } else {
                window.location.href = '/login?error';
            }
        } catch (ex) {
            console.log(ex);
        }
    })
</script>
</html>